<div class="container">
    <div class="row" *ngFor = " let interior of interiors['interiorOffices']">
        <div class="col-md-6 col-xs-6">
            <img class="img-responsive" src="assets/images/banner1.jpg" alt="img" />
        </div>
        
        <div class="col-md-6 col-sm-12">
            <h3>{{interior['interior_body']}}</h3>
            <p>{{interior['interior_body']}}</p>
            <p>{{interior['interior_body']}}</p>
            <a class="content-link" href="/finishingOffice">Show</a>
        </div>
    </div>
   
</div>   