<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>LOCATION</h3>
                <div class="address">202 Lotfy Ibrahim<br />Eg - U</div>
                <p>Tel. <a href="tel:12123431725">01111204333</a></p>
                <p>Email. <a href="mailto:info@thememove.com">oemad@betahubs.com</a></p>
                <ul class="list-social">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="vk"><i class="fa fa-vk"></i></a></li>
                    <li><a href="#" class="behance"><i class="fa fa-behance"></i></a></li>
                </ul>
                <!-- /.list-social -->
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>HELP</h3>
                <ul class="list-link">
                    <li><a href="page-with-sidebar.html">HOW TO BUY</a></li>
                    <li><a href="page-with-sidebar.html">GENERAL INFORMATION</a></li>
                    <li><a href="page-with-sidebar.html">PAYMENT</a></li>
                    <li><a href="page-with-sidebar.html">SHIPPING</a></li>
                    <li><a href="page-with-sidebar.html">RETURNS</a></li>
                    <li><a href="page-with-sidebar.html">EXCHANGES</a></li>
                    <li><a href="page-with-sidebar.html">GIFT CARD</a></li>
                    <li><a href="page-with-sidebar.html">MY ACCOUNT</a></li>
                    <li><a href="page-with-sidebar.html">WATCHES</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>POLICIES</h3>
                <ul class="list-link">
                    <li><a href="page-with-sidebar.html">ENVIRONMENTAL POLICY</a></li>
                    <li><a href="page-with-sidebar.html">ANIMAL WELFARE</a></li>
                    <li><a href="page-with-sidebar.html">PRIVACY POLICY</a></li>
                    <li><a href="page-with-sidebar.html">PURCHASE CONDITIONS</a></li>
                    <li><a href="page-with-sidebar.html">GIFT CARD CONDITIONS</a></li>
                    <li><a href="page-with-sidebar.html">WARRANTY ON WATCHES</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>COMPANY</h3>
                <ul class="list-link">
                    <li><a href="page-with-sidebar.html">ABOUT US</a></li>
                    <li><a href="page-with-sidebar.html">OFFICES</a></li>
                    <li><a href="page-with-sidebar.html">STORES</a></li>
                    <li><a href="page-with-sidebar.html">WORK WITH US</a></li>
                    <li><a href="page-with-sidebar.html">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="copyright">
                ©COPYRIGHT 2018.THEME MADE BY BETAHUBS
            </div>
            <!-- /.copyright -->
            <ul class="list-payment">
                <li><a href="#"><img src="assets/images/visa.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/paypal.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/2co.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/ae.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/skrill.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/gw.png" alt="img" /></a></li>
                <li><a href="#"><img src="assets/images/wu.png" alt="img" /></a></li>
            </ul>
            <!-- /.list-payment -->
        </div>
    </div>
</footer>