.box-product{
    width: 100%;
}
/* .product-item{
    width: 33%;
} */
/* .product-thumb{
    width: 100%;
} */
/* .main-img,
.overlay-img{
    width: 80%;
    
} */
/* img{
    
    width:100%
} */
.group-buttons{
    text-align: center !important;
}