<!-- 
        
        <header style="height: 100px;     background-color: rgba(32,95,118,.7);
    z-index: 10; position: fixed; width: 100%;">
            <div class="container">

                <nav class="main-nav" style="    top: 46px ">
                <a class="logo"style="right:auto;     top: -35px;">
                    <img width="90px" src="assets/images/logo.png" alt="img" style="right:none; margin-right: 29px;"  />
                </a>
                           
                    <div class="minimal-menu">
                        <ul>
  
                            <li class="current-menu-item">
                                <a routerLink="/home">HOME</a>
                            </li>
                            <li>
                                <a routerLink="/products">ALL PRODUCTS</a>
                            </li>
                            <li>
                                <a routerLink="#">OFFICES</a>
                                <ul class="sub-menu" style="height:70px ;">
                                    <li><a routerLink="/finishing">Finishing Offices</a></li>
                                    <li><a routerLink="/interior">Interior Offices</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/news">NEWS</a>
                            </li>
                            <li>
                                <a routerLink="/package">All packages</a>
                            </li>
                            <li><a routerLink="/contact">CONTACT</a></li>
                            <li><a routerLink="/allCaregories">ALL CATEGORIES</a></li>
         
                            <li style="left: 100px; top: 6px; margin: 0;">
                                <!-- <a routerLink="/shoppingCart">
                                    <i class="pe-7s-cart"></i>
                                   <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                </a> -->
                               <!-- <a routerLink="/shoppingCart"><i class="pe-7s-cart"></i>cart</a>
                                <ul class="sub-menu" style="height:70px ;">
                                    <li ><a routerLink="/finishing">Finishing Offices</a></li>
                                    <li ><a routerLink="/interior">Interior Offices</a></li>
                                </ul>
                            </li>
                            <li *ngIf ="!user; else userInfo">
                                    
                                <button (click)="open()" type="button"  class="btn btn-primary sign-in"><a >Log in</a> </button>
                            </li>
                            <ng-template #userInfo>
                            <li style="float: right; margin-top: 5px;">

                                <div class="row" style="position: absolute; right:100px ;" >
                                    <div class="col" >
                                      <div ngbDropdown class="d-inline-block">
                                        <img width="30px" height="40px" id="dropdownBasic1" ngbDropdownToggle src = "{{user.ximage || '../assets/images/logo.png'}}" alt="user pic" >
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  class="sub-menu" style="height:200px ;" >
                                          <a>{{user['name']}}</a>
                                          <hr>
                                          <a routerLink="/profile">Profile</a>
                                          <hr>
                                          <a (click) = "logout()">log out</a>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                            </li>
                        </ng-template>
                        </ul>
                    </div>
                    <!-- /.minimal-menu -->
                <!-- </nav> -->
                <!-- /.main-nav -->
           <!-- </div>
        </header>
         -->
         <nav class="navbar navbar-expand-sm  fixed">
                <button type="button" class="navbar-toggle navbar-toggler-right"  (click)="isCollapsed = !isCollapsed">
                <span class="navbar-toggler-icon"></span>                       
            </button>
                <!-- Brand -->
                <a class="navbar-brand" routerLink="/home">
                        <img width="90px" src="assets/images/logo.png" alt="img" style="margin-right: 100px; margin-top: -28px;" />
                </a>
              
                <!-- Links -->
                <div class="collapse navbar-collapse" [ngbCollapse]= "isCollapsed">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive = "active">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive = "active">All Products</a>
                  </li>
                  <li class="nav-item dropdown">
                        <div class="row">
                                <div class="col">
                                  <div ngbDropdown class="d-inline-block">
                                    <a class="nav-link offices" id="dropdownBasic1" ngbDropdownToggle>Offices</a>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                      <button class="dropdown-item" routerLink="/finishing" routerLinkActive = "active">Finishing Offices</button>
                                      <button class="dropdown-item" routerLink="/interior" routerLinkActive = "active">Interior Offices</button>
                                      
                                    </div>
                                  </div>
                                </div>
                                </div>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" routerLink="/news" routerLinkActive = "active">News</a>
                          </li>
                          <li class="nav-item">
                                <a class="nav-link" routerLink="/package" routerLinkActive = "active">All Packages</a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" routerLink="/allCaregories" routerLinkActive = "active">All Categories</a>
                                  </li>
                                  <li *ngIf ="!user; else userInfo">
                                    
                                        <button (click)="open()" type="button"  class="btn btn-primary caretLogo"><a >Log in</a> </button>
                                    </li>
                                    <li class="nav-item dropdown">
                                            <div  >
                                                    <div  >
                                                      <div ngbDropdown class="d-inline-block caretLogo ">
                                                            <img width="30px" height="40px" id="dropdownBasic1" ngbDropdownToggle src = "./assets/images/cart-icon-2.png" alt="user pic" >
                                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="shoppingCart else loading" class="cart">
                                                                <form action="#" class="shop-form">
                                                                        <div class="table-responsive">
                                                                            <table class="shop-table table" cellspacing="0">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th class="product-remove"></th>
                                                                                        <th class="product-thumbnail"></th>
                                                                                        <th class="product-name">Product</th>
                                                                                        <th class="product-price">Price</th>
                                                                                        <th class="product-quantity">Quantity</th>
                                                                                        <th class="product-subtotal">Total</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody *ngIf="!shoppingCart" #loading>
                                                                                      <tr class="cart_item" >
                                                                                          <td colspan="5">
                                                                                              <h1>hello</h1>
                                                                                          </td>
                                                                                      </tr>
                                                                                </tbody>
                                                                                <tbody *ngIf="shoppingCart else loading">
                                                                                    <tr class="cart_item" *ngFor="let product of shoppingCart" >
                                                                                        <td class="product-remove"><a href="#" class="remove"><i class="fa fa-times"></i></a></td>
                                                                                        <td class="product-thumbnail" style="width: 250px">
                                                                                            <a routerLink="/product">
                                                                                                <img style="width: 250px" class="img-responsive" src="{{product['details']['xfeatured_image']}}" alt="img" />
                                                                                            </a>
                                                                                        </td>
                                                                                        <td class="product-name">
                                                                                            <a href="single-product.html">
                                                                                              {{product['details']['description']}}
                                                                                            </a>
                                                                                        </td>
                                                                                        <td class="product-price"><span class="amount">{{product['price']}} LE</span></td>
                                                                                        <td class="product-quantity">
                                                                                            <div class="quantity">
                                                                                                <button class="minus-btn"><i class="fa fa-minus"></i></button>
                                                                                                <input type="text" value="1" />
                                                                                                <button class="plus-btn"><i class="fa fa-plus"></i></button>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td class="product-subtotal"><span class="amount">{{product['price']}} LE</span></td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                    </table>
                                                                                    </div>
                                                                                    </form>
                                                                                    
                                                          <hr>
                                                          <button class="dropdown-item" routerLink="/shoppingCart" routerLinkActive = "active" style="text-align: center">view cart</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    </div>
                                          </li>
                  <!-- Dropdown -->
                  <ng-template #userInfo>
                  <li class="nav-item dropdown">
                        <div >
                                <div >
                                  <div ngbDropdown class="d-inline-block caretLogo">
                                        <img width="30px" height="40px" id="dropdownBasic1" ngbDropdownToggle src = "{{user.ximage || '../assets/images/logo.png'}}" alt="user pic" >
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                      <button class="dropdown-item">{{user['name']}}</button>
                                      <button class="dropdown-item"  routerLink="/profile" routerLinkActive = "active">Profile</button>
                                      <button class="dropdown-item" (click) = "logout()">log out</button>
                                    </div>
                                  </div>
                                </div>
                                </div>
                        
                  </li>
                </ng-template>
                </ul>
            </div>
              </nav>