
        
        <header style="height: 100px;     background-color: rgba(32,95,118,.7);
    z-index: 10; position: fixed; width: 100%;">
            <div class="container">

                <nav class="main-nav" style="    top: 46px ">
                <a class="logo" href="index.html" style="right:auto;     top: -35px;">
                    <img width="90px" src="assets/images/logo.png" alt="img" style="    right:none;"  />
                </a>
                           
                    <div class="minimal-menu">
                        <ul class="menu">
  
                            <li class="current-menu-item">
                                <a href="/home">HOME</a>
                            </li>
                            <li>
                                <a href="/products">ALL PRODUCTS</a>
                            </li>
                            <li>
                                <a href="#">OFFICES</a>
                                <ul class="sub-menu" style="height:70px ;">
                                    <li><a href="/finishing">Finishing Offices</a></li>
                                    <li><a href="/interior">Interior Offices</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/news">NEWS</a>
                            </li>
                            <li>
                                <a href="/package">All packages</a>
                            </li>
                            <li><a href="/contact">CONTACT</a></li>
                            <li><a href="/AllCaregories">ALL CATEGORIES</a></li>
         
                            <li style="left: 250px; top: 4px;">
                                <a href="/ShoppingCart">
                                    <i class="pe-7s-cart"></i>
                                    <span class="count">{{cartService.count || '0' }}</span>
                                </a>
                            </li>
                            <li *ngIf = "!UserInfo; else user">
                                    
                                <button (click)="open()" type="button"  class="btn btn-primary sign-in"><a >Log in</a> </button>
                            </li>
                            <ng-template #user>
                            <li style="float: right; margin-top: 5px;">

                                <div class="row">
                                    <div class="col">
                                      <div ngbDropdown class="d-inline-block">
                                        <img width="30px" id="dropdownBasic1" ngbDropdownToggle src = "assets/images/user.png" alt="user pic">
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                          <button class="dropdown-item">{{userName['name']}}</button>
                                          <hr>
                                          <button class="dropdown-item" style="margin-bottom: 10px"><a href="/profile" style="color:black">Profile</a></button>
                                          <button class="dropdown-item" (click) = "logout()">log out</button>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                            </li>
                        </ng-template>
                        </ul>
                    </div>
                    <!-- /.minimal-menu -->
                </nav>
                <!-- /.main-nav -->
            </div>
        </header>
        