
  <div class="container">
      <div class="row" *ngFor = " let office of finishingOfice['finishingOffices']">
          <div class="col-md-6 col-xs-6">
              <img class="img-responsive" src="{{office['ximage']}}" alt="img" />
          </div>
          
          <div class="col-md-6 col-sm-12">
              <h3 class="office-name">{{office['name']}}</h3>
              <p>{{office['body']}}</p>
              <p>{{office['price_per_hour']}}</p>
              <a class="content-link" href="/finishingOffice">Show</a>
          </div>
      </div>
     
  </div>            
