<div class="main" style="padding-top: 200px;">
    <div class="container">
        <div class="header-page">
            <h1>Sub Categories</h1>
        </div>
        <!-- /.header-page -->
        <div class="row">

            <div class="col-md-12">
                <div class="main-content">
                    <div class="top-products">
                        <div class="showing-results">
                            SHOWING 1–9 OF 100 RESULTS
                        </div>
                        <div class="sortby">
                            <select class="custom-select">
                                <option value="0">DEFAULT SORTING</option>
                                <option value="1">Price: Lowest First</option>
                                <option value="2">Price: Highest First</option>
                                <option value="3">Best seller</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-product row">
                        <div *ngFor="let top of topp[0]['childs']" class="col-md-6 col-sm-6">
                            <div class="product-item" style="margin-left: 100px;">
                                <div (click)="child(top)" class="product-thumb">
                                    <div  class="main-img" style="width: 300px; height: 200px">
                                        <a href="categories/{{top['id']}}/products">
                                            <img style="width: 200px; height: 150px" class="img-responsive" src="{{top['xfeatured_image']}}" alt="img" />
                                        </a>
                                    </div>
                                    <div class="overlay-img">
                                        <a href="categories/{{top['id']}}/products">
                                            <img style="width: 300px; height: 200px" class="img-responsive" src="{{top['xfeatured_image']}}" alt="img" />
                                        </a>
                                    </div>
                                  
                                </div>
                                <h4 class="product-name"><a href="categories/{{top['id']}}/products">{{top.category_name}}</a></h4>
                                <p class="product-price">
                                {{top.category_name}}
                                </p>
                                <div class="group-buttons" style="text-align: center">
                                    <button type="button" (click) = "cart(1)" class="add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                    <span>Add to Cart</span>
                                    </button>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Compare this Product">
                                    <i class="pe-7s-repeat"></i>
                                    </button>
                                    <button type="button" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                    <i class="pe-7s-like"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.main-content -->
            </div>
        </div>
    </div>
  </div>

