<div class="main" style="padding-top: 200px;">
  <div class="container">
      <div class="header-page">
          <h1>All Products</h1>
      </div>
      <!-- /.header-page -->
      <div class="row">
          <div class="col-md-3">
              <div class="sidebar">
<form>
                  <aside class="widget">
                      <h4 class="widget-title">CATEGORY</h4>
                      <ul class="ul-sidebar" *ngFor = "let category of categories['topCats']">
                        <div class="form-check" >
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="toggleFilters('categories',category.id)" >
                            <label class="form-check-label" for="exampleCheck1">{{category['category_name']}}</label>
                            </div>
                      </ul>
                  </aside>
                  <aside class="widget">
                    <h4 class="widget-title">BRANDS</h4>
                    <ul class="ul-sidebar" *ngFor = "let brand of brands">
                        <li>
                            <div class="form-check" >
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="toggleFilters('brands',brand.id)">
                                <label class="form-check-label" for="exampleCheck1">{{brand['brand_name']}}</label>
                                </div>
                        </li>
                            
                       
                    </ul>

                </aside>
                <button type="submit" class="btn btn-primary">filter</button>
            </form>
              </div>
              <!-- /.sidebar -->
          </div>
          <div class="col-md-9" >
              <div class="main-content">
                  <div class="top-products">
                      <div class="showing-results">
                          SHOWING 1–9 OF 100 RESULTS
                      </div>
                      <div class="sortby">
                          <select class="custom-select">
                              <option value="0">DEFAULT SORTING</option>
                              <option value="1">Price: Lowest First</option>
                              <option value="2">Price: Highest First</option>
                              <option value="3">Best seller</option>
                          </select>
                      </div>
                  </div>
                  <div class="box-product row">
                      <div *ngFor="let product of products" class="col-md-4 col-sm-6">
                          <div class="product-item">
                              <div class="product-thumb">
                                  <div class="main-img" style="width: 200px; height: 150px">
                                      <a href="/product">
                                          <img style="width: 200px; height: 150px" class="img-responsive" src="{{product.xfeatured_image}}" alt="img" />
                                      </a>
                                  </div>
                                  <div class="overlay-img">
                                      <a href="/product">
                                          <img style="width: 200px; height: 150px" class="img-responsive" src="{{product.xfeatured_image}}" alt="img" />
                                      </a>
                                  </div>
                                  <a href="/product/{{product.id}}" class="details"><i class="pe-7s-search"></i></a>
                              </div>
                              <h4 class="product-name"><a href="single-product.html">{{product.name}}</a></h4>
                              <p class="product-price">
                              {{product.lowest_price}} EGP
                              </p>
                              <div class="group-buttons">
                                  <button type="button" (click) = "cart(1)" class="add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                  <span>Add to Cart</span>
                                  </button>
                                  <button type="button" data-toggle="tooltip" data-placement="top" title="Compare this Product">
                                  <i class="pe-7s-repeat"></i>
                                  </button>
                                  <button type="button" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                  <i class="pe-7s-like"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
                 
              </div>
              
          </div>
          <ng-template #filter>
          <div class="col-md-9" >
            <div class="main-content">
                <div class="top-products">
                    <div class="showing-results">
                        SHOWING 1–9 OF 100 RESULTS
                    </div>
                    <div class="sortby">
                        <select class="custom-select">
                            <option value="0">DEFAULT SORTING</option>
                            <option value="1">Price: Lowest First</option>
                            <option value="2">Price: Highest First</option>
                            <option value="3">Best seller</option>
                        </select>
                    </div>
                </div>
                <div class="box-product row">
                    <div *ngFor="let product of products" class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-thumb">
                                <div class="main-img" style="width: 200px; height: 150px">
                                    <a href="/product">
                                        <img style="width: 200px; height: 150px" class="img-responsive" src="{{product.xfeatured_image}}" alt="img" />
                                    </a>
                                </div>
                                <div class="overlay-img">
                                    <a href="/product">
                                        <img style="width: 200px; height: 150px" class="img-responsive" src="{{product.xfeatured_image}}" alt="img" />
                                    </a>
                                </div>
                                <a href="/product/{{product.id}}" class="details"><i class="pe-7s-search"></i></a>
                            </div>
                            <h4 class="product-name"><a href="single-product.html">{{product.name}}</a></h4>
                            <p class="product-price">
                            {{product.lowest_price}} EGP
                            </p>
                            <div class="group-buttons">
                                <button type="button" (click) = "cart(1)" class="add-to-cart" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                <span>Add to Cart</span>
                                </button>
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Compare this Product">
                                <i class="pe-7s-repeat"></i>
                                </button>
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                <i class="pe-7s-like"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            
        </div>
    </ng-template>
          
      </div>
  </div>
</div>