.group-buttons{
    text-align: center !important;
}
.box-product{
    width: 100%;
}
.group-buttons{
    text-align: center !important;
}
.box-product{
    width: 100%;
}
.product-item{
    width: 32.3%;
}
