      <ngb-tabset>
            <ngb-tab title="Products">
                    <ng-template ngbTabContent>
                            <div class="sale-off">
                                    <div class="container">
                                        <div id="carousel-2">
                                            <div class="box-content">
                                                <div class="showcase">
                                                    <div class="row">
                                                        <div class="box-product ">
                                                            <div class="col-lg-12 col-md-4 col-sm-4">
                                                                <div class="product-item" *ngFor = 'let product of products["top"]'  routerLink = "/product/{{product.id}}">
                                                                    <div class="product-thumb">
                                                                        <div class="main-img">
                                                                            <a>
                                                                                <img  style = " width: 25vw; height:25vh;" class="" src="{{product['xfeatured_image']}}" alt="img" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="overlay-img">
                                                                            <a>
                                                                                <img style = " width: 25vw; height:25vh;" class="" src="{{product['xfeatured_image']}}" alt="img" />
                                                                            </a>
                                                                        </div>
                            
                                                                        <a class="details"><i class="pe-7s-search"></i></a>
                                                                    </div>
                                                                    <h4 class="product-name"><a>{{product['name']}}</a></h4>
                                                                    <p class="product-price">
                                                                    <ins><span class="amount">{{product['lowest_price']}} EG</span></ins>
                                                                   
                                                                    </p>
                                                                    
                                                                </div>
                                                            
                                                            
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                 
                                  
                      </ng-template>
              
            </ngb-tab>
            <ngb-tab title="Categories">
                    <ng-template ngbTabContent>
                            <div class="sale-off">
               <div class="container">
                   <div id="carousel-2">
                       <div class="box-content">
                           <div class="showcase">
                               <div class="row">
                                   <div class="box-product">
                                       <div class="col-lg-12 col-md-12 col-sm-6">
                                           <div class="product-item" *ngFor = "let categor of category['topCats']" routerLink = "/categories/:id/products" >
                                               <div class="product-thumb">
                                                   <div class="main-img">
                                                       <a >
                                                           <img  style = " width: 300px; height:200px;" class="img-responsive" src="{{categor['xfeatured_image']}}" alt="img" />
                                                       </a>
                                                   </div>
                                                   <div class="overlay-img">
                                                       <a >
                                                           <img style = " width: 300px; height:200px;" class="img-responsive" src="{{categor['xfeatured_image']}}" alt="img" />
                                                       </a>
                                                   </div>
                                                   
                                                   <a  class="details"><i class="pe-7s-search"></i></a>
                                               </div>
                                               <h4 class="product-name"><a >{{categor['category_name']}}</a></h4>
                                               <p class="product-price">
                                               <ins><span class="amount">{{categor['lowest-price']}}</span></ins>
                                               <del><span class="amount">{{categor['lowest-price']}}</span></del>
                                               </p>
                                              
                                           </div>
                                       
                                       
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   
                                   
                                   
                                   
                                   
                              
                           </ng-template>
              
            </ngb-tab>
            <ngb-tab title="Top Packages">
                    <ng-template ngbTabContent>
                            <div class="sale-off">
                                    <div class="container">
                                        <div id="carousel-2">
                                            <div class="box-content">
                                                <div class="showcase">
                                                    <div class="row">
                                                        <div class="box-product">
                                                            <div class="col-lg-12 col-md-12 col-sm-6">
                                                                <div class="product-item" *ngFor = "let packag of package['top']" routerLink = "/package" >
                                                                    <div class="product-thumb">
                                                                        <div class="main-img">
                                                                            <a>
                                                                                <img  style = " width: 300px; height:200px;" class="img-responsive" src="{{packag['xfeatured_image']}}" alt="img" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="overlay-img">
                                                                            <a>
                                                                                <img style = " width: 300px; height:200px;" class="img-responsive" src="{{packag['xfeatured_image']}}" alt="img" />
                                                                            </a>
                                                                        </div>
                                                                        
                                                                        <a class="details"><i class="pe-7s-search"></i></a>
                                                                    </div>
                                                                    <h4 class="product-name"><a>{{packag['name']}}</a></h4>
                                                                    <p class="product-price">
                                                                    <ins><span class="amount">{{packag['lowest-price']}}</span></ins>
                                                                    <del><span class="amount">{{packag['lowest-price']}}</span></del>
                                                                    </p>
                                                                   
                                                                </div>
                                                            
                                                            
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                 
                                  
                    </ng-template>
                  </ngb-tab>
          </ngb-tabset>


          