<!--         <div class="brand-logos" style="margin-top: 70px" >
            <div class="container" >
                <div id="carousel-3">
                    <div *ngFor="let brand of brands; let c = index;">
                        <img width="40" class="img-responsive" src="{{brand['xbrand_logo']}}" alt="{{brand['brand_name']}}" />
                    </div>
                </div>
            </div>
        </div>


 -->
 <!-- <div>
     <h1 class="brands">Brands</h1>
 <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" style="padding-bottom: 40px;">
  
    <div ngxSlickItem *ngFor="let brand of brands" class="slide">
        <a href = "/brandPage"><img style="color:black; height: 200px;width: 100%" class="img-responsive"  src="{{ brand['xbrand_logo'] }}" alt="{{brand['brand_image']}}" ></a>
  </div>
</ngx-slick>
</div> -->
<!-- <p-carousel [value]="brand">
        <ng-template let-brand pTemplate="item">
           
                <div  *ngFor="let brand of brands" class="slide">
                        <div class="ui-grid ui-grid-responsive">
                        <img style="color:black;height: 70%; width: 70%" class="img-responsive"  src="{{ brand['xbrand_logo'] }}" alt="{{brand['brand_image']}}" >
                  </div>
                  </div>
        </ng-template>
    </p-carousel>
     -->
     <div class="shop-by-categories">
     <div class="container">
            <h3>Brands</h3>
     <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let brand of brands" class="slide" >
                    <div class="box-content">
                        <div class="category-item">
                            <div class="category-thumb">
                                <div  class="main-img">
                                    <a href="/brandPage">
                                        <img style ="width: 230px; height:160px;"  class="img-responsive" src="{{ brand['xbrand_logo'] }}" alt="img" />
                                    </a>
                                </div>
                                <div class="overlay-img">
                                    <a href="/brandPage">
                                        <img style ="width: 230px; height:160px;" class="img-responsive" src="{{ brand['xbrand_logo'] }}" alt="img" />
                                    </a>
                                </div>
                            </div>
                           
                        </div>
 <h4 style="text-align: center; "><a href="/brandPage">{{brand['brand_name']}}</a></h4>
        </div>
    </div>
    </ngx-slick>
</div>
</div>

