<!--         <div class="brand-logos" style="margin-top: 70px" >
            <div class="container" >
                <div id="carousel-3">
                    <div *ngFor="let brand of brands; let c = index;">
                        <img width="40" class="img-responsive" src="{{brand['xbrand_logo']}}" alt="{{brand['brand_name']}}" />
                    </div>
                </div>
            </div>
        </div>


 -->

 <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" style="padding-bottom: 40px;">
  <div ngxSlickItem *ngFor="let brand of brands" class="slide">
        <img style="color:black;" height="40" src="{{ brand['xbrand_logo'] }}" alt="{{brand['brand_image']}}" width="40">
  </div>
</ngx-slick>
