
     <div class="shop-by-categories">
     <div class="container">
            <h1 [ngStyle] = "{'color': 'black'}" >Brands</h1>
     <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let brand of brands" class="slide" >
                    <div class="box-content">
                        <div class="category-item">
                            <div class="category-thumb">
                                <div  class="main-img" [ngStyle] = "{'width': '15vw','height': '15vh',   'background': 'white'}">
                                    <a routerLink ="/brandPage" >
                                        <img  [ngStyle] = "{'width': '15vw', 'height': '15vh','background': 'white'}" class="img-responsive" src="{{ brand['xbrand_logo'] }}" alt="img" />
                                    </a>
                                </div>
                                
                            </div>
                           
                        </div>
 <h4 [ngStyle] = "{'text-align': 'center'}" class="brand-name"><a routerLink = "/brandPage">{{brand['brand_name']}}</a></h4>
        </div>
    </div>
    </ngx-slick>
</div>
</div>

