<!--************************************
			Wrapper Start
*************************************-->
<app-header></app-header>
  <!--************************************
      Main Start
  *************************************-->
    <router-outlet>
    </router-outlet>
  <!--************************************
          Main End
  *************************************-->
  
  
    <!-- <app-footer-bar></app-footer-bar> -->
  <!--************************************
        Wrapper End
  *************************************-->
  <!-- </body> -->
  <app-footer></app-footer>