<div class="main">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="main-content">
                  <div class="list-posts">
                      <div class="post-item">
                          <h3 class="post-title"><a href="single-post.html">Zorka Men Spring/Summer Vacation</a></h3>
                          <div class="post-info">
                              <span><a href="#"><i class="pe-7s-users"></i> ADMIN</a></span>
                              <span><a href="#"><i class="pe-7s-clock"></i> JANUARY 15, 2015</a></span>
                              <span><a href="#"><i class="pe-7s-comment"></i> 10 COMMENTS</a></span>
                          </div>
                          <div class="post-main-img">
                              <img class="img-responsive" src="assets/images/blog-img-4.jpg" alt="img" />
                          </div>
                          <div class="post-excerpt">
                              Cras ut magna quis metus tristique vulputate. Ut a sapien scelerisque, fermentum lorem a, aliquet mi. Ut lobortis lorem nisl, vel euismod ligula ornare quis. In consectetur elit sed leo fringilla, a placerat ipsum mollis. Proin suscipit metus vitae lectus malesuada scelerisque. Quisque interdum malesuada nisi non accumsan. Suspendisse eget lorem libero.
                          </div>
                          <a href="/singlepost" class="readmore">CONTINUE READING</a>
                      </div>
                      <!-- /.post-item -->
                      <div class="post-item">
                          <h3 class="post-title"><a href="single-post.html">White Vintage Back Pack For Girl</a></h3>
                          <div class="post-info">
                              <span><a href="#"><i class="pe-7s-users"></i> ADMIN</a></span>
                              <span><a href="#"><i class="pe-7s-clock"></i> JANUARY 15, 2015</a></span>
                              <span><a href="#"><i class="pe-7s-comment"></i> 10 COMMENTS</a></span>
                          </div>
                          <div class="wrap-post-slider">
                              <div class="post-slider">
                                  <ul class="allinone_bannerRotator_list">
                                      <li><img src="assets/images/blog-img-5.jpg" alt="img" /></li>
                                      <li><img src="assets/images/blog-img-4.jpg" alt="img" /></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="post-excerpt">
                              Cras ut magna quis metus tristique vulputate. Ut a sapien scelerisque, fermentum lorem a, aliquet mi. Ut lobortis lorem nisl, vel euismod ligula ornare quis. In consectetur elit sed leo fringilla, a placerat ipsum mollis.
                          </div>
                          <a href="single-post.html" class="readmore">CONTINUE READING</a>
                      </div>
                      <!-- /.post-item -->
                      <div class="post-item">
                          <h3 class="post-title"><a href="single-post.html">How to wear like a fashionista</a></h3>
                          <div class="post-info">
                              <span><a href="#"><i class="pe-7s-users"></i> ADMIN</a></span>
                              <span><a href="#"><i class="pe-7s-clock"></i> JANUARY 15, 2015</a></span>
                              <span><a href="#"><i class="pe-7s-comment"></i> 10 COMMENTS</a></span>
                          </div>
                          <div class="post-excerpt">
                              Nulla mattis mi quis elit porttitor gravida. Ut ut laoreet justo. Suspendisse nulla ligula, aliquet sed cursus ut, sodales sit amet metus. Proin sollicitudin, urna nec placerat faucibus, ex elit mattis nulla, sed placerat libero dui non sem. Etiam non auctor odio. Cras commodo posuere ante vitae molestie. Nunc imperdiet viverra nunc, eget aliquet diam. Etiam facilisis metus eget dolor elementum, in ornare metus feugiat. Curabitur et porttitor lacus. Ut eu risus id tortor porta scelerisque ullamcorper vel sapien. Nunc justo mauris, porta sed feugiat non, fringilla non massa. Etiam rhoncus accumsan ante ac tempus.
                          </div>
                          <a href="single-post.html" class="readmore">CONTINUE READING</a>
                      </div>
                      <!-- /.post-item -->
                      <div class="post-item">
                          <h3 class="post-title"><a href="single-post.html">Do The Catwalk Everyday</a></h3>
                          <div class="post-info">
                              <span><a href="#"><i class="pe-7s-users"></i> ADMIN</a></span>
                              <span><a href="#"><i class="pe-7s-clock"></i> JANUARY 15, 2015</a></span>
                              <span><a href="#"><i class="pe-7s-comment"></i> 10 COMMENTS</a></span>
                          </div>
                          <div class="post-main-img">
                              <img class="img-responsive" src="assets/images/blog-img-6.jpg" alt="img" />
                          </div>
                          <div class="post-excerpt">
                              Nulla mattis mi quis elit porttitor gravida. Ut ut laoreet justo.
                          </div>
                          <a href="single-post.html" class="readmore">CONTINUE READING</a>
                      </div>
                      <!-- /.post-item -->
                      <div class="post-item">
                          <h3 class="post-title"><a href="single-post.html">Meet A Fashion Icon: Lana Winters</a></h3>
                          <div class="post-info">
                              <span><a href="#"><i class="pe-7s-users"></i> ADMIN</a></span>
                              <span><a href="#"><i class="pe-7s-clock"></i> JANUARY 15, 2015</a></span>
                              <span><a href="#"><i class="pe-7s-comment"></i> 10 COMMENTS</a></span>
                          </div>
                          <div class="post-main-img">
                              <img class="img-responsive" src="assets/images/blog-img-7.jpg" alt="img" />
                          </div>
                          <div class="post-excerpt">
                              Nulla mattis mi quis elit porttitor gravida. Ut ut laoreet justo.
                          </div>
                          <a href="single-post.html" class="readmore">CONTINUE READING</a>
                      </div>
                      <!-- /.post-item -->
                  </div>
                  <!-- /.list-posts -->
                  <nav class="pagination">
                      <ul class="page-numbers">
                          <li><a href="#">1</a></li>
                          <li><span class="current">2</span></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">6</a></li>
                          <li><a class="last " href="#"><i class="fa fa-angle-double-right"></i></a></li>
                      </ul>
                  </nav>
                  <!-- /.pagination -->
              </div>
              <!-- /.main-content -->
          </div>
          <div class="col-md-3">
              <div class="sidebar">
                  <aside class="widget">
                      <h4 class="widget-title">GET CONNECTED</h4>
                      <ul class="list-social-2">
                          <li><a href="#" class="facebook"><i class="fa fa-facebook" ></i></a></li>
                          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                          
                          <li><a href="#" class="behance"><i class="fa fa-behance"></i></a></li>
                          <li><a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
                      </ul>
                      <!-- /.list-social-2 -->
                  </aside>
                  <aside class="widget">
                      <h4 class="widget-title">SEARCH THE BLOG</h4>
                      <form action="#" class="search-form">
                          <input class="input-form" type="text" placeholder="LET’S SEARCH" />
                          <button type="submit"><i class="pe-7s-search"></i></button>
                      </form>
                  </aside>
                  <aside class="widget">
                      <h4 class="widget-title">RECENT COMMENTS</h4>
                      <ul class="list-comments">
                          <li class="pe-7s-comment">
                              <a href="single-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                          </li>
                          <li class="pe-7s-comment">
                              <a href="single-post.html">Nulla mattis mi quis elit porttitor gravida.</a>
                          </li>
                          <li class="pe-7s-comment">
                              <a href="single-post.html">Integer congue cursus ullamcorper.</a>
                          </li>
                      </ul>
                  </aside>
                  <aside class="widget">
                      <h4 class="widget-title">POPULAR TAGS</h4>
                      <ul class="list-tags">
                          <li><a href="blog.html">CLOTHES</a></li>
                          <li><a href="blog.html">MEN</a></li>
                          <li><a href="blog.html">WOMEN</a></li>
                          <li><a href="blog.html">KID</a></li>
                          <li><a href="blog.html">TREND COAT</a></li>
                          <li><a href="blog.html">FASHION</a></li>
                          <li><a href="blog.html">CLOTHES</a></li>
                          <li><a href="blog.html">MEN</a></li>
                          <li><a href="blog.html">WOMEN</a></li>
                          <li><a href="blog.html">KID</a></li>
                          <li><a href="blog.html">TREND COAT</a></li>
                          <li><a href="blog.html">FASHION</a></li>
                      </ul>
                  </aside>
              </div>
              <!-- /.sidebar -->
          </div>
      </div>
  </div>
</div>