<div class="shop-by-categories">
  <div class="container">
      <h3>SHOP BY CATEGORIES</h3>
      <h5>Featured categories</h5>
      <div id="carousel-10">
          <div class="box-content">
              <div class="category-item">
                  <div class="category-thumb">
                      <div class="main-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/men-clothing.jpg" alt="img" />
                          </a>
                      </div>
                      <div class="overlay-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/men-clothing.jpg" alt="img" />
                          </a>
                      </div>
                      <a href="parallax-category-shop.html" class="details"><i class="pe-7s-search"></i></a>
                  </div>
                  <h4><a href="parallax-category-shop.html">MEN CLOTHING</a></h4>
                  <p>18 ITEMS</p>
              </div>
             
              <div class="category-item">
                  <div class="category-thumb">
                      <div class="main-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/shoes.jpg" alt="img" />
                          </a>
                      </div>
                      <div class="overlay-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/shoes.jpg" alt="img" />
                          </a>
                      </div>
                      <a href="parallax-category-shop.html" class="details"><i class="pe-7s-search"></i></a>
                  </div>
                  <h4><a href="parallax-category-shop.html">SHOES</a></h4>
                  <p>30 ITEMS</p>
              </div>
              <div class="category-item">
                  <div class="category-thumb">
                      <div class="main-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/back-pack.jpg" alt="img" />
                          </a>
                      </div>
                      <div class="overlay-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/back-pack.jpg" alt="img" />
                          </a>
                      </div>
                      <a href="parallax-category-shop.html" class="details"><i class="pe-7s-search"></i></a>
                  </div>
                  <h4><a href="parallax-category-shop.html">BACK PACK</a></h4>
                  <p>5 ITEMS</p>
              </div>
              
              <div class="category-item">
                  <div class="category-thumb">
                      <div class="main-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/kid-clothing.jpg" alt="img" />
                          </a>
                      </div>
                      <div class="overlay-img">
                          <a href="parallax-category-shop.html">
                              <img class="img-responsive" src="assets/images/kid-clothing.jpg" alt="img" />
                          </a>
                      </div>
                      <a href="parallax-category-shop.html" class="details"><i class="pe-7s-search"></i></a>
                  </div>
                  <h4><a href="parallax-category-shop.html">KID CLOTHING</a></h4>
                  <p>9 ITEMS</p>
              </div>
          </div>
          <div class="nav">
              <span class="prev"><i class="fa fa-angle-left"></i></span>
              <span class="next"><i class="fa fa-angle-right"></i></span>
          </div>
      </div>
  </div>
</div>