<div class="content-profile-page">
  <div class="profile-user-page card">
     <div class="img-user-profile">
       <img class="profile-bgHome" src="https://37.media.tumblr.com/88cbce9265c55a70a753beb0d6ecc2cd/tumblr_n8gxzn78qH1st5lhmo1_1280.jpg" />
       <img class="avatar" src="http://gravatar.com/avatar/288ce55a011c709f4e17aef7e3c86c64?s=200" alt="jofpin"/>
          </div>
         <button>Follow</button>
         <div class="user-profile-data">
           <h1>{{userinfo['name']}}</h1>
<!--             <p>github.com/jofpin</p>
-->          </div> 
         <div class="description-profile">I love udesign </div>
      
         <ngb-tabset>
          <ngb-tab title="likes" >
            <ng-template ngbTabContent>
              <div *ngIf="likes">
              <div  *ngFor = "let like of likes">
                <img width="80px" src="{{like.product.xfeatured_image}}">
              <p>{{like.product.name}}</p>
            </div>
          </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Wiches</b> </ng-template>
            <ng-template ngbTabContent>
                <div *ngIf="wishes">
                    <div  *ngFor = "let wish of wishes">
                      <img width="80px" src="{{wish.product.xfeatured_image}}">
                    <p>{{wish.product.name}}</p>
                  </div>
            </ng-template>
          </ngb-tab>
         
        </ngb-tabset>
      
     </div>
   </div>
   